@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
input[type="text"],input[type="number"]{
  @apply input input-bordered input-secondary w-full max-w-xs ml-2
}
input[type="file"]{
  @apply file-input file-input-secondary w-full max-w-xs ml-1
}
input[type="checkbox"]{
  @apply  checkbox checkbox-secondary
}
select{
  @apply select select-secondary w-full max-w-xs ml-2
}
textarea{
  @apply textarea textarea-secondary
}
label{
  @apply label w-full
}
button{
  @apply btn btn-secondary
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  @media (max-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  img{
    object-fit: cover;
  }